*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}



/* Button and fonts style */

.Ash-colored{
    color: #575757;
}


.btn-primary{
    background-color:#1D4ED8;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    width: 185px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.btn-primary:hover{
    cursor: pointer;
}
/* Header section style */


.navbar{
    display: flex;
    align-items: center;
    margin: 80px ; 
    font-family: "Inter", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
ul li a {
    text-decoration: none;
    color: black;
}

/* Hero section styles */

.hero-section{
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero-content h1{
    font-weight: bold;
    font-size:5em;
}

.hero-content ,h1 ,p{
    color:#FFFFFF;
    
}

.hero-section p{
    margin-bottom: 450px;
    font-size: 25px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;

}
.hero-button{
    width: 250px;
    height: 70px;
    font-size:24px ;
}

.hero-span{
    font-style: italic;
    color: white;
}

/* Meet the speakers section styles */

.speaker-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.speaker-card{
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    /* width: 640px; */
    height: 500px;
}
.speaker-card img{
    width: 100%;
}

.speaker-card span{
    color: #2563EB;
}

.speaker-card h4{
    font-size: 20px;
}

.speaker-card  h4 p{
    padding-bottom: 200px;
}

.speaker-section h2{
    font-size: 56px;
    text-align: center;
    padding-bottom:50px ;
}

.speaker-section{
    margin-top: 70px;
    margin-left: 150px;
    margin-right: 150px;
}

.card-details{
    padding-left: 20px;
    line-height: 1.6;
}